@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
          <!-- commenti --!>  <a href="https://www.amazon.it/ref=nav_logo" target="_blank">About</a>
          @*  <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a> *@
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
